div {
	form {
		button {
			padding: 8px;
			background-color: #9fe1f2;
			font-family: "Montserrat", 300;
			color: #351b31;
			border-radius: 2px;
			border-width: 1px;
			border-color: #3d8a9d;
		}
	}
}
.texto {
	width: 98%;
	height: 300px;
	background: #4C2D69;
	margin-left: 10px;
	padding: 10px;
	margin-bottom: 20px;
	justify-items: center;
}
form {
	input {
		padding: 8px;
		font-family: "Montserrat", 300;
		width: 230px;
		border-color: #3d8a9d;
		border-width: 1px;
		border-radius: 2px;
	}
}
h3 {
	padding: 10px;
}
